
<table class="tx-lv-address" >
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.tx_lvaddress_group" />
		</td>
		<td>
			{address.group}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.image" />
		</td>
		<td>
			{address.image.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.firstname" />
		</td>
		<td>
			{address.firstname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.lastname" />
		</td>
		<td>
			{address.lastname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.title" />
		</td>
		<td>
			{address.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.function" />
		</td>
		<td>
			{address.function}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.phone" />
		</td>
		<td>
			{address.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.fax" />
		</td>
		<td>
			{address.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.mobile" />
		</td>
		<td>
			{address.mobile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.email" />
		</td>
		<td>
			{address.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.www" />
		</td>
		<td>
			{address.www}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.company" />
		</td>
		<td>
			{address.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.street" />
		</td>
		<td>
			{address.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.zip" />
		</td>
		<td>
			{address.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.city" />
		</td>
		<td>
			{address.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.country" />
		</td>
		<td>
			{address.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_address.continent" />
		</td>
		<td>
			{address.continent}
		</td>
	</tr>
</table>