<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="lastname">
	<f:translate key="tx_lvaddress_domain_model_address.lastname" />
</label><br />
	<f:form.textfield property="lastname" /><br />
<label for="firstname">
	<f:translate key="tx_lvaddress_domain_model_address.firstname" />
</label><br />
	<f:form.textfield property="firstname" /><br />
<label for="image">
	<f:translate key="tx_lvaddress_domain_model_address.image" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="title">
	<f:translate key="tx_lvaddress_domain_model_address.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="function">
	<f:translate key="tx_lvaddress_domain_model_address.function" />
</label><br />
	<f:form.textfield property="function" /><br />
<label for="phone">
	<f:translate key="tx_lvaddress_domain_model_address.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="fax">
	<f:translate key="tx_lvaddress_domain_model_address.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="mobile">
	<f:translate key="tx_lvaddress_domain_model_address.mobile" />
</label><br />
	<f:form.textfield property="mobile" /><br />
<label for="email">
	<f:translate key="tx_lvaddress_domain_model_address.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="www">
	<f:translate key="tx_lvaddress_domain_model_address.www" />
</label><br />
	<f:form.textfield property="www" /><br />
<label for="company">
	<f:translate key="tx_lvaddress_domain_model_address.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="street">
	<f:translate key="tx_lvaddress_domain_model_address.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="zip">
	<f:translate key="tx_lvaddress_domain_model_address.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_lvaddress_domain_model_address.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="state">
	<f:translate key="tx_lvaddress_domain_model_address.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="description">
	<f:translate key="tx_lvaddress_domain_model_address.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="country">
	<f:translate key="tx_lvaddress_domain_model_address.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="internalpage">
	<f:translate key="tx_lvaddress_domain_model_address.internalpage" />
</label><br />
	<f:form.textfield property="internalpage" /><br />
</html>