<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="area">
	<f:translate key="tx_lvaddress_domain_model_map.area" />
</label><br />
	<f:form.textfield property="area" /><br />
<label for="map">
	<f:translate key="tx_lvaddress_domain_model_map.map" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="html">
	<f:translate key="tx_lvaddress_domain_model_map.html" />
</label><br />
	<f:form.textarea property="html" cols="40" rows="15" /><br />
</html>