<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-lvaddress" >
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_map.area" />
		</td>
		<td>
		{map.area}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_map.map" />
		</td>
		<td>
				<f:image src="{map.map.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_map.html" />
		</td>
		<td>
		{map.html}
		</td>
	</tr>
</table>
</html>