<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-lvaddress" >
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_group.name" />
		</td>
		<td>
		{group.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_group.image" />
		</td>
		<td>
				<f:image src="{group.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_lvaddress_domain_model_group.description" />
		</td>
		<td>
		{group.description}
		</td>
	</tr>
</table>
</html>